.header {
  width: 100%;
  height: 120px;
  padding-left: 2%;
  background: #1c1e53;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  display: flex;
  align-items: center;
  justify-content: atart;
  flex-flow: row wrap;
  height: inherit;
  width: 33%;
}
.header .logo svg {
  width: 122px;
  color: #ffffff;
}
.header .nav {
  width: 100%;
  height: auto;
  column-gap: 32px;
  position: absolute;
  top: 92px;
  display: grid;
  background-color: #2b2b2b;
  display: none;
}
.header .nav div {
  width: auto;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}
.header .nav div a {
  display: block;
  color: #bbbbcb;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  text-decoration: none;
  text-transform: capitalize;
}
.header .nav div a:hover {
  color: #fff;
}
.header .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 33%;
  height: inherit;
  z-index: 1;
}
.header .btn button {
  all: unset;
  text-align: center;
  display: block;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  width: 185px;
  height: 60px;
  flex-shrink: 0;
  color: #bbbbcb;
  cursor: pointer;
}
.header .btn button:hover {
  color: #fff;
}
.header .hamburgernav {
  width: 33%;
  height: auto;
  background-color: #1c1e53;
}
.header .hamburgernav .container {
  display: flex;
  justify-content: flex-end;
}
.header .hamburgernav .offcanvas {
  width: 86%;
  height: auto;
  left: 6%;
  top: 92px;
  text-align: center;
  bottom: unset;
  background-color: #1c1e53;
}
.header .hamburgernav .offcanvas button {
  margin-left: auto;
}
.header .hamburgernav .offcanvas .offcanvas-body {
  height: auto;
}
.header .hamburgernav .offcanvas .offcanvas-body ul {
  padding: 0 !important;
}
.header .hamburgernav .offcanvas .offcanvas-body ul hr {
  color: #fff;
}
.header .hamburgernav .offcanvas .offcanvas-body ul li {
  padding: 0;
}
.header .hamburgernav .offcanvas .offcanvas-body ul li:hover {
  background-color: #2405f2;
  margin-top: 0;
}

.background1 {
  background-color: #fff;
  width: 100%;
}
.background1 div {
  width: 40%;
  margin: 50px auto;
  text-align: center;
}
.background1 div h2 {
  color: var(--Dark-blue, #282938);

  /* Heading 2 */
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 133.333% */
}
.background1 div p {
  color: var(--Dark-blue, #282938);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  opacity: 0.7;
  margin-top: 30px;
  text-align: justify;
  text-justify: auto;
}
.background2 {
  width: 100%;
  padding: 8%;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
}
.background2 .card {
  border-radius: 12px;
  background: var(--Grey, #f4f6fc);
  padding: 60px 30px;
}

.background2 .card h3 {
  display: inline;
  text-align: center;
  color: var(--Dark-blue, #282938);
  margin-bottom: 30px;
  margin-right: 10px;
  /* Heading 3 */
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 147.368% */
}
.background2 .card h6 {
  color: var(--Dark-blue, #282938);

  /* Heading 6 */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 150% */
  margin-bottom: 10px;
}
.background2 .card p {
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  opacity: 0.7;
}
.background2 .card span {
  color: var(--Royal-Blue, #2405f2);
  text-align: center;

  /* Paragraph */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.background2 .card div {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.background2 .card button {
  all: unset;
  cursor: pointer;
  border-radius: 41px;
  background: var(--Dark-blue, #282938);
  width: 60%;
  height: 50px;
  color: whitesmoke;
  margin: 0 auto;
  text-align: center;
}
.background2 .card .tozih {
  all: unset;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 10px;
}

.background2 .card:hover {
  background-color: #1c1e53;
}
.background2 .card:hover p,
.background2 .card:hover h3,
.background2 .card:hover h6 {
  color: #fff;
}
.background2 .card:hover span {
  color: #fcd980;
}
.background2 .card:hover button {
  border-radius: 41px;
  background: var(--Yellow, #fcd980);
  color: var(--Dark-blue, #282938);
}

/* footer */
.background9 {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #1c1e53;
  width: 100%;
  padding: 10%;
  padding-bottom: 40px;
  column-gap: 10%;
  row-gap: 30px;
}
.background9 div {
  display: flex;
  flex-flow: column wrap;
  row-gap: 15px;
}
.background9 div p {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.8;
}
.background9 div h2 {
  color: whitesmoke;
  font-family: Poppins;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  text-align: center;
}
.background9 div svg {
  margin-right: 10%;
  margin: 0 auto;
}
.background9 div div {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding-top: 50px;
  column-gap: 10px;
}
.background9 div div a {
  width: 48%;
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  text-decoration: none;
  background-color: #fcd980;
  padding: 20px;
  border-radius: 10px;
}
.background9 div div a:hover {
  background-color: #897646;
}
.background9 div div a:hover p,
.background9 div div a:hover span {
  color: #fff;
}
.background9 div div a p {
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  opacity: 1;
}
.background9 div div a span {
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  opacity: 0.8;
}

footer {
  display: flex;
  flex-flow: column wrap;
  background-color: #fff;
  height: 110px;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}
footer div {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 50px;
}
footer div div {
  text-align: center;
  width: auto;
  padding: 0 3%;
  border-radius: 10px;
}
footer div div:hover {
  background-color: #1c1e53;
}
footer div div:hover a {
  color: #fff;
}
footer div div a {
  text-decoration: none;
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
footer div:nth-of-type(1) {
  order: 2;
}
